* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  background-color:#ffedd5; 
  min-height: 100vh;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
}
.about-title h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #b45309; 
  text-align: center;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .about-title h1 {
    font-size: 2.5rem;
  }
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  gap: 3.5rem;
}

.about-text {
  max-width: 800px;
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    gap: 2rem;
  }
  
  .about-text {
    text-align: left;
  }
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.skills button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #e2e8f0; 
  background-color: #374151; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.skills button:hover {
  background-color: #f59e0b; 
}